body {



        align-items: center;
        background-color: #f5f5f5;

        overflow: hidden; /* Убирает прокрутку, если контент выходит за пределы экрана */
    }


    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

.donut-chart {
position: relative;
width: calc(min(58vw, 58vh)); /* Диаграмма будет квадратной и адаптироваться к меньшей стороне экрана */
height: calc(min(58vw, 58vh));
border-radius: 50%;
background: conic-gradient(
    {% for category in categories %}
        {{ category.color }} 0% {{ category.percentage }}%{% if not forloop.last %}, {% endif %}
    {% endfor %}
);
display: flex;
justify-content: center;
align-items: center;
}

.donut-chart::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: calc(min(55vw, 55vh)); /* Аналогично основной диаграмме */
height: calc(min(55vw, 55vh));
background: #E4E9F7;
border-radius: 50%;
z-index: 1;
}



    .create-button {
        position: absolute;
        top: 10%;
        right: 10%;
        background-color: #4FC4F6;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

    .create-button:hover {
        background-color: #E64C65;
    }
            /* Модальное окно */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Черный фон с прозрачностью */
        z-index: 1100;
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .chart-center-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px;
        color: #333;
        font-weight: bold;
        z-index: 2;
    }


    .diagram {
        position: relative;
        display: none;
    }

    .diagram.active {
        display: block;
    }

    .diagram.hidden {
        display: none;
    }


    .diagrams-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(min(10vw, 10vh));
        width: 100%;
        height: 100%;
    }
    .modal-backdrop {
        z-index: 1090; /* Затемнение под модальным окном */
    }
    .btn.btn-primary {
        position: relative;
        z-index: 1000;
    }
    .button-container {
        position: absolute;
        top: 60px;
        left: 20px;
    }
.categories {
position: absolute;
width: 100%;
height: 100%;

}

.category {
position: absolute;
width: calc(min(7vw, 7vh));
height: calc(min(7vw, 7vh));
border-radius: 50%;
background-color: #4FC4F6;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 14px;
color: #fff;
cursor: pointer;
transform-origin: center center;
transition: background-color 0.3s ease;
}

.category:hover {
background-color: #E64C65;
}

.category-value {
position: absolute;
top: calc(min(7vw, 7vh));
font-size: 14px;
color: #333;
text-align: center;
}
